@if (campaign(); as camp) {
  @if (camp.locations.length) {
    <div class="location-cards-section">
      <div class="location-cards-label">Locations</div>
      <div class="location-cards-container">
        @for (location of camp.locations; track location.instanceId) {
          <div [class.is-locking]="isLocking(location.instanceId)">
            <app-location-card
              [location]="location"
              [flippable]="false"
              [editable]="false"
              [secrets]="false"
              [tilt]="tiltFor(location.instanceId)"
              [campaignMode]="true"
              (cardClick)="goToLocationDetail(location.instanceId)"
            />
          </div>
        }
      </div>
    </div>
  }
}
