


@if (campaign(); as camp) {
  <div class="campaign-notes-panel">
    <app-player-campaign-notes [campaignId]="campaignId()" />
  </div>

  @if (camp.locations.some(l => !l.isPartyAnchor)) {
    <div class="location-cards-section">
      <div class="location-cards-header">
        <span class="location-cards-label">Locations</span>
        <span class="location-cards-line"></span>
      </div>
      
      <div class="location-cards-container">
        @for (location of camp.locations; track location.instanceId) {
          @if (!location.isPartyAnchor) {
          <div [class.is-locking]="isLocking(location.instanceId)">
            <app-location-card
              [location]="location"
              [flippable]="false"
              [editable]="false"
              [secrets]="false"
              [tilt]="tiltFor(location.instanceId)"
              [campaignMode]="true"
              (cardClick)="goToLocationDetail(location.instanceId)"
            />
          </div>
          }
        }
      </div>
    </div>
  }
}