@use '../../../../styles/variables' as v;

:host {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 260px;
  height: 260px;
  pointer-events: none;
  display: block;
  transform: rotate(-15deg);
}

svg {
  width: 100%;
  height: 100%;
  color: v.$color-text-secondary;
  opacity: 0.06;
}
