@use '../../../styles/variables' as v;

.btn-back-link {
  display: inline-block;
  margin-bottom: 12px;
}

.form-subtitle {
  margin-bottom: 18px;
}

.btn-form-submit {
  margin-top: 8px;
}

.btn-return-link {
  margin-top: 8px;
  display: inline-block;
}
