@use 'styles/variables' as v;
@use 'styles/typography';
@use 'styles/animations';
@use 'styles/components';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: v.$color-black;
  font-family: v.$font-body;
  color: v.$color-text-primary;
  user-select: none;
  -webkit-user-select: none;
}

input, textarea, select {
  user-select: text;
  -webkit-user-select: text;
}

a { color: inherit; text-decoration: none; }

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
