@use '../../../../../styles/variables' as v;

:host {
  display: contents;
}

.location-card-pane {
  flex-shrink: 0;
  background: v.$campaign-portal-bg-dark;
  border: 1px solid rgba(v.$color-lib-location-1, 0.40);
  border-radius: 6px;
  padding: 16px;
}

.location-card-enlarged {
  width: 240px;
  height: 352px;
  overflow: hidden;
  border-radius: 4px;

  .lib-card-front {
    height: 100%;
  }
}

.location-card-initial-lg {
  font-size: 64px;
}

