@use '../../../styles/variables' as v;

.btn-form-submit {
  margin-top: 8px;
}

.password-mismatch {
  color: v.$color-ext-386;
  font-size: 12px;
  margin: 4px 0;
}

.change-error-box {
  margin-top: 12px;
  border-color: v.$color-ext-21;
}
