@if (campaign(); as camp) {
  @if (isDm() && camp.locations.length) {
    <div class="location-cards-section">
      <div class="location-cards-label">Locations</div>
      <div class="location-cards-container">
        @for (location of camp.locations; track location.instanceId) {
          <app-location-card
            [location]="location"
            [flippable]="false"
            [editable]="false"
            [secrets]="true"
            [secretsRevealed]="location.isVisibleToPlayers"
            [campaignMode]="true"
            [tilt]="locationTilt(location.instanceId)"
            (secretsClick)="toggleLocationVisibility(location)"
            (cardClick)="goToLocationDetail(location.instanceId)"
          />
        }
      </div>
    </div>
  }
}
